.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    background-color: #f8edf8;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .footer-logo p {
    font-family: "Lavishly Yours", sans-serif;
    color: #d89ca4;
    font-size: 86px;
    font-weight: 700;
    margin: 0;
  }
  
  .footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #d89ca4;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    cursor: pointer;
  }
  
  .footer-social-icon {
    display: flex;
    gap: 20px;
  }
  
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: #d89ca4;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .socialContainer:hover {
    transform: scale(1.2);
  }
  
  .containerOne:hover {
    background-color: #d62976;
  }
  
  .containerTwo:hover {
    background-color: #00acee;
  }
  
  .containerThree:hover {
    background-color: #0072b1;
  }
  
  .containerFour:hover {
    background-color: #128c7e;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: #fff;
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    gap: 30px;
    width: 100%;
    font-size: 20px;
    color: #d89ca4;
  }
  
  .footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #d89ca4;
  }
  
  @media (max-width: 800px) {
    .footer {
      gap: 20px;
      padding: 30px 0;
    }
  
    .footer-logo p {
      font-size: 45px;
    }
  
    .footer-links {
      font-size: 14px;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .socialContainer {
      width: 40px;
      height: 40px;
    }
  
    .socialSvg {
      width: 14px;
    }
  
    .footer-copyright {
      font-size: 13px;
    }
  }